<div class="admin-list">

    {{>admin_header}}
    {{>adminNavigation}}
    <div class="content">
        <h2>Edit Configuration File</h2>
        <form method="POST" id="form_update">         
            <div class="row">
                <div class="col">
                    <h5>List interfaces</h5>
                    {{#each interfaces}}
                        <input type="checkbox" name="interfaces" value={{ this.interface }} id={{ this.interface }}>
                        <label for={{ this.interface }}>{{ this.interface }} - {{ this.ip }}</label><br>
                    {{/each}}
                    
                </div>
                <div class="col">
                    <h5>Home network</h5>
                    {{!-- <label for="home_network">Home network</label> --}}
                    <input name="home_network" type="text" class="form-control" placeholder="None" value={{config_data.home_network}}>
                    <p>List home network IP, placing items inside [], separated by commas. If not defined, create profiles for all the ips we see</p>
                </div>
                <div class="col">
                    <h5>Pcap filter</h5>
                    {{!-- <label for="home_network">Home network</label> --}}
                    <input name="pcapfilter" type="text" class="form-control" placeholder="Default pcap packet filter, value no if no filter" value={{config_data.pcapfilter}}>
                    <p>Default pcap packet filter, value no if no filter</p>
                </div>
                <div class="col">
                    <h5>How often do you want to delete zeek files?</h5>
                    {{!-- <label for="home_network">Home network</label> --}}
                    <input name="rotation_period" type="text" class="form-control" placeholder="Time unit is one of usec, msec, sec, min, hr, or day" value="{{config_data.rotation_period}}">
                    <p>Time unit is one of usec, msec, sec, min, hr, or day</p>
                </div>

            </div>
            <button type="submit" class="create">Update Configuration</button>
        </form>
        <div id="myPopup1" class="popup">
            <div class="popup-content">
                <div class="type">
                    <i class="fa-solid fa-2xl fa-circle-info"></i>
                    <div>Information</div>
                </div>
                <p>Update configuration successfully</p>
                <button id="closePopup">
                    Close
                </button>
            </div>
        </div>
        <div id="myPopup2" class="popup">
            <div class="popup-content">
                <div class="type">
                    <i class="fa fa-2xl fa-exclamation-circle" aria-hidden="true"></i>
                    <div>Error</div>
                </div>
                
                <p>Select at least 1 interfaces to detect HTTPS Malware</p>
                <button id="closePopup2">
                    Close
                </button>
            </div>
        </div>
    </div>
    
</div>
<script>

    interface_selected= `{{ config_data.interfaces }}`;
    interface_selected=interface_selected.replace("[", "").replace("]", "").split(',')
    let interface_element=document.querySelector('input[name="interfaces"]')
    if (typeof interface_selected !== 'undefined' && interface_selected.length > 0 && interface_selected[0]!="") {
        for (var i =0; i<interface_selected.length; i++){
            document.getElementById(interface_selected[i]).checked=true
        }
    }
    form = document.querySelector('form');
    form.onsubmit = async function (e) {
        e.preventDefault();
        let interfaces=[]
        let int_element=document.querySelectorAll('input[name="interfaces"]:checked')
        if (int_element === undefined || int_element.length == 0) {
            myPopup2=document.querySelector('#myPopup2')
            myPopup2.classList.add("show");
            closePopup2=document.querySelector('#closePopup2')
            closePopup2.addEventListener("click", function () {
                myPopup2.classList.remove("show");
            });
            window.addEventListener("click", function (event) {
                if (event.target == myPopup2) {
                    myPopup2.classList.remove("show");
                }
            });
        }
        else{
            for (var i =0; i<int_element.length; i++){
                interfaces.push(int_element[i].value)
            }
            let result = await fetch(`/admin/update_config`,
                {
                    //mode: "no-cors",
                    headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' },
                    method: "POST",
                    body: JSON.stringify({ interfaces: interfaces, home_network:document.querySelector('input[name="home_network"]').value,pcapfilter:document.querySelector('input[name="pcapfilter"]').value,rotation_period:document.querySelector('input[name="rotation_period"]').value})
                })
                .then(async (data) => {
                    myPopup=document.querySelector('#myPopup1')
                    closePopup=document.querySelector('#closePopup')
                    myPopup.classList.add("show");
                    closePopup.addEventListener("click", function () {
                        myPopup.classList.remove("show");
                        location.reload(); 
                    });
                    window.addEventListener("click", function (event) {
                        if (event.target == myPopup) {
                            myPopup.classList.remove("show");
                            location.reload(); 
                        }
                    });
                        
                }).catch(e => console.log(e))
        }
    }
</script>